:root {
	--primary-1: #495e57;
	--primary-2: #f4ce14;

	--secondary-1: #ee9972;
	--secondary-2: #fbdabb;
	--secondary-3: #edefee;
	--secondary-4: #333333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--secondary-4);
	font-weight: 500;
}
button {
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

/* Typography */
.title {
	font-weight: 500;
	font-size: 64px;
}
.sub-title {
	font-weight: 400;
	font-size: 48px;
}
.regular {
	font-weight: 400;
	font-size: 40px;
}

.descriptive {
	font-weight: 500;
	font-size: 18px;
}

.section-title {
	font-weight: 800;
	font-size: 20px;
	text-transform: capitalize;
}

.section-subtitle {
	font-weight: 800;
	font-size: 16px;
}

.card-title {
	font-size: 18px;
	font-weight: 700;
}

.para-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.highlight {
	font-weight: 500;
	font-size: 16px;
}
.primary_button {
	background-color: var(--primary-2);
	color: var(--secondary-4);
	font-size: 18px;
	width: fit-content;
	display: block;
	padding: 12px 24px;
	font-weight: 500;
	border-radius: 12px;
	border: 0;
}

.container {
	max-width: 1140px;
	margin-inline: auto;
	padding-inline: 1rem;
}

/* Navigation */
nav {
	background-color: #edefee;
	padding: 16px 0;
}
.nav_menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_mobile-container {
	position: absolute;
	transform: translateX(-1000px);
	background: white;
	top: 80px;
	padding: 12px 0;
	transition: transform 0.2s ease-in-out;
}
.nav_mobile-container.active {
	transform: translateX(0);
	left: 0;
	right: 0;
	z-index: 1;
}
.nav_menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}
.hamburger {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border: 0;
}
.hamburger span {
	width: 32px;
	height: 2px;
	background-color: var(--secondary-4);
}

/* Hero */
.hero-container {
	background-color: var(--primary-1);
}
.hero-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 400px;
}
.hero-section div:last-child {
	display: none;
}
.hero_section-subcontainer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-width: 500px;
}
.hero_section-sub {
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: var(--secondary-3);
}
.hero_section-sub h2 {
	color: var(--primary-2);
}

/* Specials & Testimonials */
.specials-container,
.testimonials-container {
	margin-top: 64px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}
.specials-container > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 32px;
}
.specials-content,
.testimonials-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, 348px);
	place-content: center;
	gap: 32px;
}

.specials_card {
	width: 100%;
	background-color: var(--secondary-3);
}
.specials_card .price {
	font-weight: 800;
	color: var(--primary-2);
}
.specials_card img {
	width: 100%;
	max-height: 230px;
}
.specials_card-content {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 24px;
}
.specials_card-content p {
	color: var(--primary-1);
}
.specials_card-content-header {
	display: flex;
	justify-content: space-between;
}

.order-icon {
	display: flex;
	align-items: center;
	gap: 8px;
}

.testimonials-container {
	margin-block: 64px;
}
.testimonials-container h2 {
	text-align: center;
}
.testimonials-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, 252px);
}
.testimonials_card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	background-color: var(--secondary-3);
}
.testimonials_card img {
	border-radius: 50%;
}
.testimonials_card div {
	display: flex;
	align-items: center;
	gap: 16px;
}
.testimonials_card > span {
	font-weight: 800;
	color: var(--secondary-1);
}

.input_container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input_container label {
	font-size: 18px;
	font-weight: 600;
}
.input_container input {
	border: 0;
	outline: none;
	border-bottom: 1px solid var(--primary-1);
	padding-block: 8px;
}
select {
	border: 0;
	outline: none;
	border-bottom: 1px solid var(--primary-1);
	padding-block: 8px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 600px;
	margin-inline: auto;
	margin-block: 64px;
}
form button[type="submit"] {
	margin-top: 24px;
}
.reserve_table {
	margin-block: 32px;
}
.reserve_table h1 {
	text-align: center;
}

footer,
footer nav {
	background-color: var(--secondary-3);
}
footer > div {
	padding-block: 24px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 32px;
}
footer > div > ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 16px;
}
footer > div > ul li {
	display: flex;
	gap: 16px;
}
footer > div > ul span:first-child {
	font-weight: 600;
}
footer nav ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.footer_row {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media (min-width: 980px) {
	.nav_mobile-container {
		display: block;
		position: static;
		transform: none;
		background-color: transparent;
	}
	.nav_menu {
		flex-direction: row;
	}
	.hamburger {
		display: none;
	}

	.hero-section div:last-child {
		display: block;
		position: absolute;
		top: 60px;
		right: 0;
	}
	.hero-section div:last-child img {
		width: 500px;
		height: 450px;
		object-fit: cover;
	}
	.specials-container {
		margin-top: 180px;
	}

	footer nav ul {
		flex-direction: row;
	}
}
